  .yuriSite {margin:0px;padding:0px;font-family:Tahoma, Geneva, sans-serif;color:#666;}

  h1{width:100%;margin:0px 0px 30px 0px;font:40px/55px Tahoma, Geneva, sans-serif;}
  h2{width:100%;height:auto;margin:0px 0px 30px 0px;font:30px/45px Tahoma, Geneva, sans-serif;}
  h3{width:100%;height:auto;margin:0px 0px 15px 0px;font:20px/35px Tahoma, Geneva, sans-serif;}
  h4{width:100%;font:17px/25px Tahoma, Geneva, sans-serif;margin:0px 0px 15px 0px;}
  p {font-size:17px;line-height:25px;margin:0px;}
  .primaryHeader {text-align:center;}
  .secondaryHeader {text-align:left;}
  #footer p {font-size:12px;margin: 0px 0px 15px 0px;}
  .headlineParagraph {margin-bottom:30px;}

  .subText{font:9px/12px Tahoma, Geneva, sans-serif;font-weight:100;width:100%;}

  button {margin-bottom:30px;text-transform:uppercase;outline:none;font-size:15px;cursor:pointer;}
  button.major {color:white;width:250px;padding:10px;border-radius:5px;background-color:rgb(61,177,234);border:0px solid transparent;}
  button.major:not(:disabled):hover {box-shadow: inset 3px 3px 0px white;text-shadow: 3px 3px white;color:transparent;}
  button.minor {color:rgb(61,177,234);width:150px;padding:10px;border-radius:5px;background-color:transparent;border:1px solid rgb(61,177,234);}
  button.minor:not(:disabled):hover {box-shadow: inset 3px 3px 0px rgb(61,177,234);text-shadow: 3px 3px rgb(61,177,234);color:transparent;}
  button:disabled {color:rgba(0,0,0,0.2);border:1px solid rgba(0,0,0,0.2);}
  button:active {outline:none;}

  #header{
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    /*background-image: linear-gradient(to bottom, white , transparent);*/
    padding:30px;
    box-sizing:border-box;
    height:100px;
    color:rgba(255,255,255,0.8);
  }
  /*#header.homepageHeader {background-image: linear-gradient(to bottom, rgb(255, 94, 13) , transparent)}*/

  .navigationSymbol {width:auto;height:75px;}
  .navigationSymbol .nav-rail {height:33.33%;width:100px;border-top:10px solid white;box-sizing:border-box;background-color:rgb(197, 217, 232);}

  .navigationSymbol .nav-rail:nth-child(2) {margin-left:10px;}
  .navigationSymbol .nav-rail:nth-child(3) {margin-left:20px;}

  .navigationMenu.navigationSymbol .nav-rail:nth-child(2) {margin-left:0px;}
  .navigationMenu.navigationSymbol .nav-rail:nth-child(3) {margin-left:0px;}

  .navigator {position:absolute;top:20px;left:20px;width:200px;height:75px;z-index:9000;opacity:0;}
  .navigator:not(:checked) ~ .navigationMenu  {display:none;}
  .navigator:checked ~ .navigationMenu {display:block;}

  .navigationMenu {z-index:0;position:fixed;top:0px;left:0px;width:100%;height:100%;font-family:Tahoma, Geneva, sans-serif;}
  .navigationMenu .navigationMain {width:35%;height:100%;box-sizing:border-box;background-color:rgb(75,91,105);padding:30px;box-shadow: 10px 0 30px rgba(50,50,50,0.5);float:left;}
  .navigationMenu .navigationOuter {width:65%;height:100%;background-color:rgba(0,0,0,0.3);float:right;}

  .navigationMenu .navigationSymbol .nav-rail {border-color: #5fcec7;margin-left:0px;background-color:transparent;}

  .navigationMenu ul {margin-top:60px;width:100%;padding:0px;list-style:none;}
  .navigationMenu ul li a {color:#5fcec7;font-size:24px;line-height:50px;text-transform:uppercase;cursor:pointer;}
  .navigationMenu ul li a:hover {text-decoration:none;color:#5fdfd8;}
  .navigationMenu ul li:nth-child(2) {margin-left:20px;}
  .navigationMenu ul li:nth-child(3) {margin-left:40px;}

  @media (max-width: 768px) {
    .navigationMenu {width:100%;}
    .navigationMenu .navigationMain {width:75%;}
    .navigationMenu .navigationOuter {width:25%;}
    #header p, #footer p, #description p{width:100%;margin:0px 0px 20px 0px;}
  }

  #footer{width:100%;height:auto;padding:40px 15% 40px 15%;box-sizing:border-box;background-color: #f9f9f9;font-family:Tahoma, Geneva, sans-serif;}
  #footer .footer-inner {width:100%;clear:both;}
  #footer .copyright {float:left;width:auto;}
  #footer .footerLinks {float:right;width:auto;}
  #footer .footerLinks span {margin: 0px 5px 0px 5px;}
  #footer .footerLinks a {color: rgba(0,0,0,0.8);}
  #footer .footerHighlight {color:rgba(0,0,0,0.3);}

  .content{padding-left:15%;padding-right:15%;width:100%;height:auto;box-sizing:border-box;margin-bottom:100px;clear:both;font-family:Tahoma, Geneva, sans-serif;}
  .content.minor {margin-bottom:60px;}
  .content.content-left{padding-right:40%;}
  .content.first {padding-top:100px;}
  .content.content-right{padding-left:40%;}

  .content a {color:rgb(61,177,234);text-decoration:none;}
  .content a:hover {color:rgba(61,177,255,0.6);}

  .content.portfolioPiece {
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:30px;
    box-sizing:border-box;
    height:300px;
  }
  .content.portfolioPiece.high {
    height:600px;
  }
  .content.portfolioPiece.greyBG {background:linear-gradient(45deg,#fafafa,#fafafa,#ffffff);;}
  .content.portfolioPiece .description {padding:60px 30px 60px 0px;width:50%;box-sizing:border-box;float:left;height:100%;position:relative;}
  .content.portfolioPiece .description .navButton {position:absolute;bottom:60px;}
  .content.portfolioPiece .photo {width:50%;height:100%;float:left;}
  .content.portfolioPiece .photo img {width:100%;height:300px;opacity:0.92;object-fit:cover;}
  .content.portfolioPiece .photo img.no-stretch {object-fit:contain;}
  .content.portfolioPiece.high .photo img {height:600px;}
  .content.portfolioPiece button {margin-bottom:0px;}

  .presentationPic {width:100%;height:70vh;}

  .content h1, .content h2 {color:rgb(75,91,105);}
  .content h3, .content h4 {color: rgba(0,0,0,0.7);}
  .content p {color: rgba(0,0,0,0.5);margin-bottom:15px;}
  .content p.minor {color: rgba(0,0,0,0.3);}

  @media (max-width: 768px) {
    .content{width:100%;padding:0px 30px 0px 30px;}
    .content .secondaryHeader{text-align:center;}
  }

  .headlineDescription{
    width:100%;
    height:65vh;
    position:relative;
    box-sizing:border-box;
    color:rgba(255,255,255,0.9);
    background:linear-gradient(45deg,rgb(197, 217, 232),rgb(197, 217, 232),rgb(170,209,239));

    /*background:linear-gradient(63deg, rgb(181, 228, 0) 23%, transparent 23%) 14px 0,
    linear-gradient(63deg, transparent 74%, rgb(181, 228, 0) 78%),
    linear-gradient(63deg, transparent 34%, rgb(181, 228, 0) 38%, rgb(181, 228, 0) 58%, transparent 62%),
    rgb(182, 230, 0);
    background-size: 32px 96px;*/
    overflow:hidden;
  }
  .headlineDescription h1 {color:rgba(255,255,255,0.8);}
  .headlineDescription .headline-right {
    padding:0% 15% 0px 40%;
    position:absolute;
    bottom:100px;
    box-sizing:border-box;
  }
  .headlineDescription .highlight {color:rgba(255,255,255,1);font-weight:bold;}

  ul.multilineList {list-style:none;padding:0px 0px 30px 30px;font-family:Tahoma, Geneva, sans-serif;}
  ul.multilineList li {margin-bottom:30px;}
  ul.multilineList span.listHeader {font-size:17px;line-height:32px;color:rgba(0,0,40,0.8);}
  ul.multilineList .listHeader .mainTitle {text-transform: capitalize;font-weight:bold;}
  ul.multilineList p.listBody{margin: 0px;}
  ul.multilineList.topBorder {border-top: 1px solid #444;}

  @media (max-width: 768px) {
    .carousel-previous, .carousel-next{height:400px;width:10%;}
    .carousel-slides{width:80%;}
  }
